body {
    background-color: #d1d1d1;
    color: #393939;
    text-align: left;
}
hr {
    color: #393939;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column
}
header img {
    width: 60%;
    margin: 30px auto -10px;
    rotate: -5deg;
}
header h3 {
    text-align: center;
    font-size: 2em;
}


/* everyting to do with the main contatiner and its contents */
main {
    display: flex;
    justify-content: center;
}
#main-left {
    border: solid;
    width: 15%;
    margin: 0 10px;
}

#main-center {
    border: solid;
    width: 70%;
    margin: 0 10px;
    padding: 5px;
}
#main-center h3 {
    text-align: center;
}

#main-right {
    border: solid;
    width: 15%;
    margin: 0 10px;
}
/* everyting to do with the main contatiner and its contents */


footer {
    text-align: center;
    border: dashed #d1d1d1;
    background-color: black;
    padding: 20px;
}
footer a {
    font-size: 2em;
    color: #d1d1d1;
}
