body {
    text-align: center;
    background-color: black;
    color: darkred;
}

h1 {
    margin: 60px;
    font-size: 50px;
}

main {
    border: solid;
}

#artisitcNudity {
    color: white;
    background-color: red;
}
